*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    color: bisque;
    background-color: gray;
}
.header{
    margin: 0 auto;
    background-color: black;
    color: cornflowerblue;
    height: auto;
    width: 100%;

}